/* ep-char.css */

.ep-page {
	border: 1px solid red;
	display: none; /* initial state */
	position: relative;
	height: 1311px;
	width: 1013px;
}

.ep-page-front {
	background-image: url(../img/ep-char-01.jpg);
}

.ep-page-back {
	background-image: url(../img/ep-char-02.jpg);
}

.ep-overview {
	position: absolute;
	top: 50px;
	left: 236px;
}

.ep-overview-item {
	display: block;
	margin: 11.6px 0 6px 0;
	width: 236px;
}

.ep-player {
	position: absolute;
	top: 36px;
	left: 590px;
	font-size: 18px;
}

.ep-aptitudes-base {
	position: absolute;
	top: 160px;
	left: 640px;
}

.ep-aptitude {
	display: inline-block;
	margin: 0 0 0 0;
	text-align: center;
	width: 44.8px;
}
