/* ep-char.css */

.ep-page {
	display: none; /* initial state */
	position: relative;
	height: 1311px;
	width: 1013px;
}

.ep-page-front {
	background-image: url(../img/ep-char-01.jpg);
}

.ep-page-back {
	background-image: url(../img/ep-char-02.jpg);
}

.ep-overview {
	position: absolute;
	top: 50px;
	left: 236px;
}

.ep-overview-item {
	display: block;
	margin: 11.6px 0 6px 0;
	width: 236px;
}

.ep-page-back .ep-overview {
	left: 176px;
}

.ep-player {
	position: absolute;
	top: 36px;
	left: 590px;
	font-size: 18px;
}

.ep-page-back .ep-player {
	left: 630px;
}

.ep-aptitudes-base {
	position: absolute;
	top: 160px;
	left: 640px;
}

.ep-aptitudes-morph {
	position: absolute;
	top: 182px;
	left: 640px;
}

.ep-aptitudes-total {
	position: absolute;
	top: 204px;
	left: 640px;
}

.ep-aptitude {
	display: inline-block;
	margin: 0 0 0 0;
	text-align: center;
	width: 44.8px;
}

.ep-aptitudes-total .ep-aptitude {
	font-family: 'Lato Black';
}

.ep-stats {
	position: absolute;
	top: 282px;
	left: 506px;
}

.ep-stat {
	display: inline-block;
	margin: 0 0 0 0;
	text-align: center;
	width: 44.8px;
}

.ep-skills {
}

.ep-skills-0 {
	position: absolute;
	top: 552px;
	left: 236px;
}

.ep-skills-1 {
	position: absolute;
	top: 552px;
	left: 700px;
}

.ep-skills-2 {
	position: absolute;
	top: 902px;
	left: 700px;
}

.ep-skill {
	display: block;
	font-size: 12px;
	height: 18.32px;
	margin: 0 0 0 0;
	padding-top: 2px;
}

.ep-skills-2 .ep-skill {
	height: 17.4px;
}

.ep-skill-item {
	display: inline-block;
	margin: 0 0 0 0;
	text-align: center;
	width: 48px;
}

.ep-skill-item-2 {
	font-family: 'Lato Black';
}

.ep-skill-item-subset {
	text-align: left;
	text-overflow: ellipses;
	width: 100px;
}

.ep-rep {
	position: absolute;
}

.ep-rep.ep-rep-0 {
	top: 128px;
	left: 124px;
}

.ep-rep.ep-rep-1 {
	top: 130px;
	left: 344px;
}

.ep-rep-item {
	display: block;
	margin: 11.6px 0 6px 0;
	width: 236px;
}

.ep-traits {
	position: absolute;
	left: 72px;
	top: 324px;
}

.ep-traits-item {
	display: inline-block;
	margin: 0 0 0 0;
	width: 200px;
}

.ep-implants {
	position: absolute;
	left: 66px;
	top: 1066px;
}

.ep-implants-item {
	display: block;
	margin: 0 0 0 0;
	width: 1000px;
}

.ep-armor {
	position: absolute;
	left: 130px;
	top: 406px;
}

.ep-armor-item {
	display: inline-block;
	margin: 0 0 0 0;
	width:190px;
}

.ep-gear {
	position: absolute;
	left: 72px;
	top: 564px;
}

.ep-gear-item {
	display: inline-block;
	margin: 0 0 0 0;
	width: 300px;
}

.ep-weapons {
	position: absolute;
	left: 236px;
	top: 436px;
}

.ep-weapon {

}

.ep-weapon-item {
	display: inline-block;
	margin: 0 0 0 0;
	width: 86px;
}

.ep-weapon-item:nth-of-type(1) {
	width: 132px;
}

.ep-weapon-item:nth-of-type(2) {
	width: 86px;
}

.ep-weapon-item:nth-of-type(3) {
	width: 74px;
}

.ep-weapon-item:nth-of-type(4) {
	width: 82px;
}

.ep-weapon-item:nth-of-type(5) {
	width: 128px;
}