/* ep.css */

* {
	font-family: 'Lato Semibold'; /* eclipse phase table font is lato */
}

p {
	font-family: 'Sabon LT Std'; /* eclipse phase body font is sabon */
}

body {
	margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Heliotype LET Plain Medium'; /* eclipse phase title font is heliotype */
}

.ep-nav {
	height: 30px;
	margin: 8px 0 8px 0;
	padding: 2px;
	width: 1013px;
}

.ep-nav ul {
}

.ep-nav ul li {
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 8px;
}

.ep-nav a, .ep-nav label,.ep-nav select {
	font-size: 16px;
}

.ep-nav-links {
	display: none; /* initially hidden */
	float: right;
	text-align: right;
	width: 50%;
}

.ep-nav-link {
	color: red;
}

.ep-nav-link:hover {
	color: #ff9999;
}

.ep-nav-link.ep-nav-link-active {
	cursor: default;
	text-decoration: none;
}

.ep-nav-link.ep-nav-link-active:hover {
	color: red;
	text-decoration: none;
}

.ep-nav-char {
	width: 50%;
}

.ep-nav-char .progress {
	display: none;
}
